    <table id="rapport">
        <caption>
            <dl>
                <dt>Dato</dt>
                <dd>{{dato}}</dd>
                <dt>Objekttype</dt>
                <dd>{{a.objekttype}}</dd>
            </dl>
            <dl ng-if="a.egenskapsfilter.length > 0">
                <dt>Filter</dt>
                <dd ng-repeat="filter in a.egenskapsfilter">{{filter.type}} {{filter.operator}} {{filter.verdi}}</dd>
            </dl>
            
        </caption>
        <thead>
            <tr class="kolonneoverskrift">
                <th></th>
                <th ng-attr-colspan="{{valg[a.kolonne].verdier.length}}">{{a.kolonne}}</th>
                <th></th>
            </tr>
            <tr>
                <th class="radoverskrift"><span ng-click="nullstillRadfilter()" title="Vis alle rader" class="radfilter_nullstill">{{a.rad}}</span></th>
                <th ng-repeat="kolonne in valg[a.kolonne].verdier">{{kolonne.navn}}</th>
                <th>Sum</th>
            </tr>
        </thead>
        <tbody>
            <tr bindonce ng-repeat-start="rad in valg[a.rad].verdier | radfilter:a.radfilter">
                <td class="tittel"><span ng-click="setRadfilter(rad.navn)" title="Vis kun denne raden" class="radfilter_set">{{rad.navn}}</span>
                <span ng-click="addRadfilter(rad.navn)" class="radfilter_fjern" title="Fjern denne raden">fjern</span></td>
                <td bindonce ng-repeat="kolonne in valg[a.kolonne].verdier" bo-title="rad.verdi+kolonne.verdi" class="resultat"></td>
                <td bo-title="rad.verdi+'sum'" class="resultat"></td>
            </tr>
                <tr bindonce ng-repeat="rad2 in valg[rad.navn].verdier" ng-if="a.rad2==true" class="rad2">
                    <td class="tittel">{{rad2.navn}}</td>
                    <td bindonce ng-repeat="kolonne in valg[a.kolonne].verdier" bo-title="rad.verdi+rad2.navn+kolonne.verdi" class="resultat"></td>
                    <td bo-title="rad.verdi+rad2.navn+'sum'" class="resultat"></td>
                </tr>
            <tr ng-repeat-end ng-if="usynlig"></tr>
            <tr class="sumrad">
                <td class="tittel">Sum</td>
                <td bindonce ng-repeat="kolonne in valg[a.kolonne].verdier" bo-title="'sum'+kolonne.verdi" class="resultat"></td>
                <td title="sumsum" class="resultat"></td>
            </tr>
        </tbody>
    </table>